<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>人员新增/编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${Session.BASE_URL}/lying/layui/css/layui.css">
    <link rel="stylesheet" href="${Session.BASE_URL}/lying/lau/lau.css">
    <link href="${Session.BASE_URL}/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="${Session.BASE_URL}/lying/css/common.css">
    <link rel="stylesheet" href="${Session.BASE_URL}/plugins/formSelects/formSelects-v4.css" />
    <style>
        .demo1{
            width: 25%;
            text-align: right;
            line-height: 38px;
        }
        .layui-card-body{
            display: flex;
        }
        .layui-input:hover, .layui-textarea:hover {
            border-color: #1E9FFF!important;
        }
    </style>
</head>

<body>
<div class="layui-card" style="padding-left: 20px;">
    <div class="layui-card-body">
        <div class="demo1">登录名：</div>
        <div style="width: 65%;">
            <input id="username" type="text" class="layui-input" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')"  style="width:100%;margin-left: 20px;" placeholder="请输入登录名(不能输入中文)">
        </div>
    </div>
    <div class="layui-card-body">
        <div class="demo1">密码：</div>
        <div style="width: 65%;">
            <input id="password" type="text" class="layui-input" style="width:100%;margin-left: 20px;" placeholder="请输入密码">
        </div>
    </div>
    <div class="layui-card-body">
        <div class="demo1">姓名：</div>
        <div style="width: 65%;">
            <input id="name" type="text" class="layui-input" style="width:100%;margin-left: 20px;" placeholder="请输入姓名">
        </div>
    </div>
    <div class="layui-card-body">
        <div class="demo1">性别：</div>
        <div style="width: 65%;line-height: 38px;">
            <input type="radio" name="gender" value="1" checked style="margin-left: 30px;"/>男
            <input type="radio" name="gender" value="2" style="margin-left: 30px;"/>女
        </div>
    </div>
    <div class="layui-card-body">
        <div class="demo1">手机号码：</div>
        <div style="width: 65%;">
            <input id="mobile" type="text" class="layui-input" style="width:100%;margin-left: 20px;" placeholder="请输入手机号码">
        </div>
    </div>
    <div class="layui-card-body">
        <div class="demo1">邮箱：</div>
        <div style="width: 65%;">
            <input id="email" type="text" class="layui-input" style="width:100%;margin-left: 20px;" placeholder="请输入邮箱">
        </div>
    </div>
    <div class="layui-card-body" style="text-align: center;" >
        <button onclick="saves()" class="layui-btn layui-btn-normal layui-btn-sm"  style="background-color:#445A81;width: 100px;border-radius: 5px;margin: 0 auto;">保存</button>
    </div>
</div>


<script src="${Session.BASE_URL}/lying/layui/layui.js"></script>
<script src="${Session.BASE_URL}/plugins/jquery-1.11.0.min.js"></script>
<script src="${Session.BASE_URL}/plugins/formSelects/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function(){
        var id = "${id}";
        console.log(id);
        if(id!=null && id!=""){
            $.ajax({
                url:'${Session.BASE_URL}/user/userDetail',
                data:{"id":id},
                success:function (result) {
                    console.log(result)
                    if(result.code=='200'){
                        $("#username").val(result.data.username);
                        $("#password").val(result.data.password);
                        $("#name").val(result.data.name);
                        if(result.data.gender!=null && result.data.gender!=""){
                            $(":radio[name='gender'][value='" + result.data.gender + "']").prop("checked", "checked");
                        }
                        if(result.data.mobile!=null && result.data.mobile!=""){
                            $("#mobile").val(result.data.mobile);
                        }
                        if(result.data.email!=null && result.data.email!=""){
                            $("#email").val(result.data.email);
                        }
                    }
                }
            })
        }
    })


    function saves(){
        var username = $("#username").val();
        var password = $("#password").val();
        var name = $("#name").val();
        var gender = $("input[name='gender']:checked").val();
        var mobile = $("#mobile").val();
        var email = $("#email").val();

        var data="";
        var url="";
        var id = "${id}";
        console.log(id);
        if(id!=null && id!=""){
            data={
                "id":id,
                "username":username,
                "password":password,
                "name":name,
                "gender":gender,
                "mobile":mobile,
                "email":email
            }
            console.log(data)
            url="${Session.BASE_URL}/user/userUpdate";
            console.log(url)
        }else{
            data={
                "username":username,
                "password":password,
                "name":name,
                "gender":gender,
                "mobile":mobile,
                "email":email
            }
            console.log(data)
            url="${Session.BASE_URL}/user/addUser";
        }

        if(username==""){
            window.parent.layui.layer.msg("请输入登录名")
        }else if(password==""){
            window.parent.layui.layer.msg("请输入密码")
        }else if(name==""){
            window.parent.layui.layer.msg("请输入姓名")
        }else{
            $.ajax({
                url:url,
                type : 'POST',
                data:data,
                success:function (result) {
                    console.log(result)
                    if(result.code=='200'){
                        setTimeout("close()", 1000);
                    }
                    window.parent.layui.layer.msg(result.msg);
                }
            })
        }
    }

    function close(){
        window.parent.location.reload();
    }
</script>

</body>
</html>