<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>版本信息</title>
<link href="${Session.BASE_URL}/css/history.css" rel="stylesheet" />
<link rel="shortcut icon" href="${Session.BASE_URL}/img/favicon.ico" type="image/x-icon"/>
<style type="text/css">

	.zt{
		font-family: 微软雅黑;
	}
	.footer{
		width:100%;
	}
	.footercontent{
		width:1280px;
		margin:0 auto;
		font-size:12px;
		color:#999;
		line-height:22px;
		text-align:center;
	}
	.footer img{
		width:80px;
		height:80px;
	}
</style>
</head>
<body>
	<div class="head-warp">
		<div class="head">
			<div class="nav-box">
				<ul>
					<li class="cur" style="text-align:center; font-size:62px; font-family:'微软雅黑', '宋体';"></li>
				</ul>
			</div>
		</div>
	</div> 
	<div class="main">
		<div class="history">
		
			<!-- 大类别 -->
			<div class="history-date">
				<ul>
					<h2 class="first">
						<a href="#nogo">2019年</a>
					</h2>

					
					<!-- 小类别 -->
					<li>
						<h3>
							06.12<span>2019</span>
						</h3>
						<dl>
							<dt>
								版本号：v1.0
								<span>1.一周食谱正式上线
								<br>2.后台管理 : 每周菜单丶留言管理丶排名管理丶菜单管理丶人员管理丶时间管理 功能
								<br>3.微信页面 : 一周菜单丶留言消息丶排名列表
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br><br>
								<br>
								<br>
								</span>
							</dt>
						</dl>
					</li>


				</ul>
			</div>
			
		</div>
	</div>

	<script src="${Session.BASE_URL}/js/jquery.js"></script>
	<script src="${Session.BASE_URL}/js/main.js"></script>
</body>
</html>